/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  transition: background 0.4s, color 0.4s;
}

/* CONTAINER */
.container {
  max-width: 100%;
  margin: auto;
  padding: 0 40px;
}

/* LIGHT / DARK */
body.dark {
  background: #0f172a;
  color: #f5f3ff;
}

body.home-page {
  background: linear-gradient(135deg,#e0f2fe,#eef2ff,#f5f3ff);
  color: #111827;
}