 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  transition: background 0.4s, color 0.4s;
  overflow-x: hidden;
}

/* LIGHT / DARK */
body.dark {
  background: #0f172a;
  color: #f5f3ff;
}

body.home-page {
  background: linear-gradient(135deg,#e0f2fe,#eef2ff,#f5f3ff);
  color: #111827;
}

body.home-page.dark {
  background: linear-gradient(135deg,#0f172a,#020617,#020617);
  color: #f5f3ff;
}

/* CONTAINER */
.container {

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

}

/* ===== TABLET ===== */
@media (max-width: 1024px) {
  .container {
    max-width: 95%;
    padding: 0 20px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}